img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

@font-face {
  font-family: "rubik";
  src: url("../fonts/rubik.ttf") format("ttf"), url("../fonts/rubik.woff") format("woff"), url("../fonts/rubik.woff2") format("woff2");
  font-weight: "700";
  font-style: "normal";
}

@font-face {
  font-family: "rubik";
  src: url("../fonts/rubik.ttf") format("ttf"), url("../fonts/rubik.woff") format("woff"), url("../fonts/rubik.woff2") format("woff2");
  font-weight: "500";
  font-style: "normal";
}

@font-face {
  font-family: "rubik";
  src: url("../fonts/rubik.ttf") format("ttf"), url("../fonts/rubik.woff") format("woff"), url("../fonts/rubik.woff2") format("woff2");
  font-weight: "400";
  font-style: "normal";
}

.page {
  width: 375px;
  min-width: 320px;
  max-width: 1920px;
}

.body {
  width: auto;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  font-family: 'rubik', 'Arial', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 188%;
  color: #828282;
  background-color: #ffffff;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
}

.header__logo {
  text-align: left;
  margin: 29px 0;
}

.logo__img {
  width: 141px;
  height: 22px;
}

.nav {
  position: relative;
  width: auto;
  min-height: 40px;
  background-color: #ceb2e2;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #565656;
}

.nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 40px;
  height: 40px;
  background-color: tomato;
  cursor: pointer;
  border: none;
}

.nav__toggle:hover,
.nav__toggle:active {
  background-color: violet;
}

.nav--closed .nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background-image: url('../../img/dest/menuopen.svg');
}

.nav--closed .nav__toggle:active::before {
  display: none;
}

.nav--opened .nav__toggle::before,
.nav--opened .nav__toggle::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 10px;
  width: 20px;
  height: 2px;
  background-color: #131313;
}

.nav--opened .nav__toggle::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav--opened .nav__toggle::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav--opened .nav__toggle:active::before,
.nav--opened .nav__toggle:active::after {
  background-color: rgba(19, 19, 19, 0.3);
}

.nav--nojs .nav__toggle {
  display: none;
}

.site-list__link {
  position: relative;
  display: block;
  padding: 7px 12px;
  background-color: #c897eb;
  border-top: 1px solid #d1bae2;
  border-bottom: 1px solid #a35ad6;
  text-decoration: none;
}

.site-list__text {
  color: #565656;
}

.lang-list__item {
  position: relative;
  display: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.lang-list__item::after {
  content: "";
  display: block;
  width: 10px;
  height: 5px;
  position: absolute;
  top: 9px;
  left: 40px;
  background-image: url('../../img/dest/lang.svg');
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.lang-list__item--activ {
  display: block;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
}

.lang-list__item--activ::after {
  background-image: url('../../img/dest/lang.svg');
}

.lang-list__text {
  padding: 7px 12px;
  text-transform: uppercase;
}

.main {
  width: 100%;
  display: -ms-grid;
  display: grid;
}

@media (min-width: 768px) {
  .body {
    width: auto;
    padding: 0 45px;
  }

  .header__logo {
    margin: 26px 0;
  }

  .logo__img {
    width: 180px;
    height: 28px;
  }
}

@media (min-width: 1068px) {
  .body {
    width: 1440px;
    padding: 0 240px;
  }

  .header__logo {
    margin: 49px 0 74px 0;
  }

  .header__nav {
    margin: 58px 0 80px 0;
  }

  .logo__img {
    width: 250px;
    height: 39px;
  }

  .nav__toggle {
    display: none;
  }

  .nav__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 747px;
    margin: 0 auto;
  }

  .site-list {
    width: 650px;
  }

  .lang-list {
    width: 81px;
  }
}

@media (max-width: 1069px) {
  .nav--closed .site-list__item {
    display: none;
  }

  .nav--closed .lang-list__item {
    display: none;
  }
}